.column{
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.columns{
  display: flex;
  flex-direction: row;
}
.node{
  background-color: beige;
  width: 150px;
  height: 30px;
  border-width: 0.5px;
  border-style: solid;
  cursor: pointer;
}

.App{
  display: flex; /* or inline-flex */
}